@model TrabajoPracticoObligatorio2.Models.IndexModelData

@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Content -->
    <!-- SLIDER -->
    <div id="menu"></div>
    <section>
        <div class="container">
            <ul id="image-list">
                <li>
                    <img src="~/Images/slider/image1.png" alt=""/></li>
                <li>
                    <img src="~/Images/slider/image2.png" alt=""/></li>
                <li>
                    <img src="~/Images/slider/image3.png" alt=""/></li>
            </ul>
        </div>
    </section>

    <!-- SIDE LEFT MENU AND PRODUCTS -->
    <section>
        <div class="container">
            @Html.Partial("Partial/CategoriesViewPartial")
            
            @Html.Partial("Partial/ProductsViewPartial")
            
        </div>
    </section>

    <!-- INFORMATION DATA -->

    <div>
        <article id="RP2"
                 data-img="img/products/RazerPhone2TemperedGlasssProtectorKit.png"
                 data-name="Razer Phone 2 Tempered Glass Protector Kit"
                 data-price="US$19.99"
                 data-description="Powerful gaming phone"></article>

        <article id="RKKB"
                 data-img="img/products/RazerKrakenKitty-Black.png"
                 data-name="Razer Kraken Kitty Black"
                 data-price="US$149.99"
                 data-description="This is a description of the product"></article>

        <article id="RNUOLE"
                 data-img="img/products/RazerNariUltimate-OverwatchLúcioEdition.png"
                 data-name="Razer Nari Ultimate Overwatch Lúcio Edition"
                 data-price="US$229.99"
                 data-description="This is a description of the product"></article>

        <article id="RNU"
                 data-img="img/products/RazerNariUltimate.png"
                 data-name="Razer Nari Ultimate"
                 data-price="US$199.99"
                 data-description="This is a description of the product"></article>

        <article id="RGMOLE"
                 data-img="img/products/RazerGoliathusMedium-OverwatchLucioEdition.png"
                 data-name="Razer Goliathus Medium Overwatch Lúcio Edition"
                 data-price="US$29.99"
                 data-description="This is a description of the product"></article>

        <article id="RGCEG5"
                 data-img="img/products/RazerGoliathusChromaExtendedGears5.png"
                 data-name="Razer Goliathus Chroma Extended Gears 5"
                 data-price="US$79.99"
                 data-description="This is a description of the product"></article>

        <article id="RBQ"
                 data-img="img/products/Razer Basilisk Quartz.png"
                 data-name="Razer Basilisk Quartz"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RB2019"
                 data-img="img/products/BlackWidow-2019-Base.png"
                 data-name="Razer BlackWidow 2019"
                 data-price="US$169.99"
                 data-description="This is a description of the product"></article>

        <article id="BWU2017"
                 data-img="img/products/BlackWidow-Ultimate-2017-Base.png"
                 data-name="BlackWidow Ultimate 2017"
                 data-price="US$129.99"
                 data-description="This is a description of the product"></article>

        <article id="ME"
                 data-img="img/products/Mamba-Elite-Base.png"
                 data-name="Mamba Elite"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RDAV2"
                 data-img="img/products/RZ01-02130100-R3U1.png"
                 data-name="Razer DeathAdder V2"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RCXC"
                 data-img="img/products/RazerCoreXChroma.png"
                 data-name="Razer Core X Chroma"
                 data-price="US$399.99"
                 data-description="This is a description of the product"></article>
    </div>

    <!-- POPUP -->
    <div class="container">
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popupphoto">
                    <img id="POPImg" src="" alt="">
                </div>
                <div class="popuptext">
                    <center><h1 id="POPName"></h1></center>
                    <h1 id="POPPrice"> Price: </h1>
                    <h1> Descripción: </h1>
                    <p id="POPDescription"></p>
                    <button class="buy-button">Buy</button>
                </div>
                <a class="closepopup" href="#" id="POPClose">X</a>
            </div>
        </div>
    </div>

</main>

@* <script src="~/Scripts/jquery-3.4.1.min.js"></script> *@
<script src="~/Scripts/PLUGINS/interactive-list-scroller-loop/jquery.scrolloop.js"></script>
<script src="~/Scripts/PLUGINS/interactive-list-scroller-loop/jquery.scrolloop.min.js"></script>
@section scripts
{
    <script src="~/Scripts/popUpInformation.js"></script>
}

@* <script src="~/Scripts/sliderFunction.js"></script> *@
<script src="~/Scripts/accordionFunction.js"></script>