

@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("Partial/HeaderViewPartial")

@Html.Partial("Partial/MenuViewPartial")

<main>
    <!-- Content -->
    <!-- SLIDER -->
    <div id="menu"></div>
    <section>
        <div class="container">
            <ul id="image-list">
                <li><img src="img/slider/image1.png" /></li>
                <li><img src="img/slider/image2.png" /></li>
                <li><img src="img/slider/image3.png" /></li>
            </ul>
        </div>
    </section>

    <!-- SIDE LEFT MENU -->
    <section>
        <div class="container">
            <div class="categories left">
                <div class="general-title title-categories">Categories</div>

                <button class="accordion">Notebook</button>

                <button class="accordion">Phones</button>

                <button class="accordion">Mices</button>
                <div class="panel">
                    <p>Wireless</p>
                    <p>Wireless Power</p>
                    <p>Wired</p>
                    <p>Mobile</p>
                </div>

                <button class="accordion">Keyboards</button>
                <div class="panel">
                    <p>Keypads</p>
                    <p>Optical</p>
                    <p>Mechanical</p>
                    <p>Mecha-Membrane</p>
                </div>

                <button class="accordion">Headset</button>
                <div class="panel">
                    <p>Speakers</p>
                    <p>Console</p>
                    <p>Wireed</p>
                    <p>Wireless</p>
                </div>
                <button class="accordion">Console</button>

                <button class="accordion">Backpacks</button>

                <button class="accordion">Mouse Pads</button>

            </div>

            <!-- FEATURED PRODUCTS -->
            <div class="general-title">Featured Products</div>
            <div class="container-block">

                <div class="product">
                    <img src="img/products/BlackWidow-2019-Base.png" alt="">
                    <h1>Razer BlackWidow 2019</h1>
                    <h3>US$169.99</h3>
                    <a href="#popup" onclick="ShowInformation('RBW2019')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/BlackWidow-Ultimate-2017-Base.png" alt="">
                    <h1>BlackWidow Ultimate 2017</h1>
                    <h3>US$129.99</h3>
                    <a href="#popup" onclick="ShowInformation('BWU2017')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/Mamba-Elite-Base.png" alt="">
                    <h1>Mamba Elite</h1>
                    <h3>US$69.99</h3>
                    <a href="#popup" onclick="ShowInformation('ME')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RZ01-02130100-R3U1.png" alt="">
                    <h1>Razer DeathAdder V2</h1>
                    <h3>US$69.99</h3>
                    <a href="#popup" onclick="ShowInformation('RDAV2')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerCoreXChroma.png" alt="">
                    <h1>Razer Core X Chroma</h1>
                    <h3>US$399.99</h3>
                    <a href="#popup" onclick="ShowInformation('RCXC')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/Razer Basilisk Quartz.png" alt="">
                    <h1>Razer Basilisk Quartz</h1>
                    <h3>US$69.99</h3>
                    <a href="#popup" onclick="ShowInformation('RBQ')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>
            </div>

            <!-- OFFERS PRODUCTS -->
            <div class="general-title">Offers</div>
            <div class="container-block">
                <div class="product">
                    <img src="img/products/RazerGoliathusChromaExtendedGears5.png" alt="">
                    <h1>
                        Razer Goliathus Chroma
                        <br> Extended Gears 5
                    </h1>
                    <h3>US$79.99</h3>
                    <a href="#popup" onclick="ShowInformation('RGCEG5')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerGoliathusMedium-OverwatchLucioEdition.png" alt="">
                    <h1>Razer Goliathus Medium <br> Overwatch Lúcio Edition</h1>
                    <h3>US$29.99</h3>
                    <a href="#popup" onclick="ShowInformation('RGMOLE')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerNariUltimate.png" alt="">
                    <h1>Razer Nari Ultimate</h1>
                    <br>
                    <h3>US$199.99</h3>
                    <a href="#popup" onclick="ShowInformation('RNU')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerNariUltimate-OverwatchLúcioEdition.png" alt="">
                    <h1>Razer Nari Ultimate <br> Overwatch Lúcio Edition</h1>
                    <h3>US$229.99</h3>
                    <a href="#popup" onclick="ShowInformation('RNUOLE')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerKrakenKitty-Black.png" alt="">
                    <h1>Razer Kraken Kitty <br> Black</h1>
                    <h3>US$149.99</h3>
                    <a href="#popup" onclick="ShowInformation('RKKB')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>

                <div class="product">
                    <img src="img/products/RazerPhone2TemperedGlasssProtectorKit.png" alt="">
                    <h1>Razer Phone 2 <br> Tempered Glass Protector Kit</h1>
                    <h3>US$19.99</h3>
                    <a href="#popup" onclick="ShowInformation('RP2')" class="button">See</a>
                    <button class="buy-button">Buy</button>
                </div>
            </div>
        </div>
    </section>

    <!-- INFORMATION DATA -->

    <div>
        <article id="RP2"
                 data-img="img/products/RazerPhone2TemperedGlasssProtectorKit.png"
                 data-name="Razer Phone 2 Tempered Glass Protector Kit"
                 data-price="US$19.99"
                 data-description="Powerful gaming phone"></article>

        <article id="RKKB"
                 data-img="img/products/RazerKrakenKitty-Black.png"
                 data-name="Razer Kraken Kitty Black"
                 data-price="US$149.99"
                 data-description="This is a description of the product"></article>

        <article id="RNUOLE"
                 data-img="img/products/RazerNariUltimate-OverwatchLúcioEdition.png"
                 data-name="Razer Nari Ultimate Overwatch Lúcio Edition"
                 data-price="US$229.99"
                 data-description="This is a description of the product"></article>

        <article id="RNU"
                 data-img="img/products/RazerNariUltimate.png"
                 data-name="Razer Nari Ultimate"
                 data-price="US$199.99"
                 data-description="This is a description of the product"></article>

        <article id="RGMOLE"
                 data-img="img/products/RazerGoliathusMedium-OverwatchLucioEdition.png"
                 data-name="Razer Goliathus Medium Overwatch Lúcio Edition"
                 data-price="US$29.99"
                 data-description="This is a description of the product"></article>

        <article id="RGCEG5"
                 data-img="img/products/RazerGoliathusChromaExtendedGears5.png"
                 data-name="Razer Goliathus Chroma Extended Gears 5"
                 data-price="US$79.99"
                 data-description="This is a description of the product"></article>

        <article id="RBQ"
                 data-img="img/products/Razer Basilisk Quartz.png"
                 data-name="Razer Basilisk Quartz"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RBW2019"
                 data-img="img/products/BlackWidow-2019-Base.png"
                 data-name="Razer BlackWidow 2019"
                 data-price="US$169.99"
                 data-description="This is a description of the product"></article>

        <article id="BWU2017"
                 data-img="img/products/BlackWidow-Ultimate-2017-Base.png"
                 data-name="BlackWidow Ultimate 2017"
                 data-price="US$129.99"
                 data-description="This is a description of the product"></article>

        <article id="ME"
                 data-img="img/products/Mamba-Elite-Base.png"
                 data-name="Mamba Elite"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RDAV2"
                 data-img="img/products/RZ01-02130100-R3U1.png"
                 data-name="Razer DeathAdder V2"
                 data-price="US$69.99"
                 data-description="This is a description of the product"></article>

        <article id="RCXC"
                 data-img="img/products/RazerCoreXChroma.png"
                 data-name="Razer Core X Chroma"
                 data-price="US$399.99"
                 data-description="This is a description of the product"></article>
    </div>

    <!-- POPUP -->
    <div class="container">
        <div class="popup" id="popup">
            <div class="popup-inner">
                <div class="popupphoto">
                    <img id="POPImg" src="" alt="">
                </div>
                <div class="popuptext">
                    <center><h1 id="POPName"></h1></center>
                    <h2 id="POPPrice">
                        Price: </h1>
                        <h2>
                            Descripción: </h1>
                            <p id="POPDescription"></p>
                            <button class="buy-button">Buy</button>
                </div>
                <a class="closepopup" href="#" id="POPClose">X</a>
            </div>
        </div>
    </div>

</main>

@Html.Partial("Partial/FooterViewPartial")

<!--<script src="~/Scripts/PLUGINS/interactive-list-scroller-loop/jquery.scrolloop.js"></script>
<script src="PLUGINS/interactive-list-scroller-loop/jquery.scrolloop.min.js"></script>-->
<script src="~/Scripts/popUpInformation.js"></script>
<script src="~/Scripts/sliderFunction.js"></script>
<script src="~/Scripts/accordionFunction.js"></script>