<div class="categories left">
    <div class="general-title title-categories">CategoriesModel</div>
    @foreach (var category in Model.Categories)
    {
        <button class="accordion">@category.Category</button>
        <div class="panel">
        @foreach (var sub in Model.SubCategorieses)
        {
            if (sub.IdCategory == category.ID)
            {
                <p>@sub.Name</p> 
            }
        }
        </div>

    }
</div>