
@{
    ViewBag.Title = "HeaderViewPartial";
}


<div class="container">
    <div class="left">
        <object data="~/Content/Images/LOGO.svg" height="160" width="160" type="image/svg+xml" class="logo"></object>
    </div>
    <div class="user-info">
        <button>Login</button>
        <button>Shopping Cart</button>
    </div>
</div>

