@{
    ViewBag.Title = "Market";
}
@Html.Partial("Partial/HeaderViewPartial")

@Html.Partial("Partial/MenuViewPartial")
    <main>
        <!-- Content -->
        <section>
            <div id="menu"></div>
        </section>

        <!-- MARKET PLACES -->
        <section>
            <div class="market-container">
                <div class="market">
                    <img src="img/market/razerstore-london.jpg" alt="">
                    <h1>RAZERSTORE LONDON</h1>
                    <h2>Charing Cross</h2>
                    <h3>Unit 7, 53 Charing Cross Road, London, WC2H 7PZ, United Kingdom</h3>
                </div>
                <div class="market">
                    <img src="img/market/las-vegas-store.jpg" alt="">
                    <h1>RAZERSTORE LAS VEGAS</h1>
                    <h2>The Linq Promenade</h2>
                    <h3>3545 S. Las Vegas Blvd. L-27, Las Vegas, NV 89109</h3>
                </div>
                <div class="market">
                    <img src="img/market/razer-hong-kong.png" alt="">
                    <h1>RAZERSTORE HONG KONG</h1>
                    <h2>Causeway Bay</h2>
                    <h3>Shops A & D on G/F, No. 1 Cannon Street Causeway Bay, Hong Kong SAR</h3>
                </div>
                <div class="market">
                    <img src="img/market/razerstores-taipei.jpg" alt="">
                    <h1>RAZERSTORE TAIPEI</h1>
                    <h2>Syntrend Creative Park</h2>
                    <h3>RazerStore Taipei, R207-1, 2F. No. 2, Section 3, Civic Blvd Zhongshan District, Taipei City 104</h3>
                </div>
                <div class="market">
                    <img src="img/market/razerstore-london.jpg" alt="">
                    <h1>RAZERSTORE LONDON</h1>
                    <h2>Charing Cross</h2>
                    <h3>Unit 7, 53 Charing Cross Road, London, WC2H 7PZ, United Kingdom</h3>
                </div>
                <div class="market">
                    <img src="img/market/razerstores-sf.jpg" alt="">
                    <h1>
                        RAZERSTORE
                        SAN FRANCISCO
                    </h1>
                    <h2>Westfield San Francisco Centre, Shop 136</h2>
                    <h3>865 Market Street San Francisco, CA 94103</h3>
                </div>
            </div>
        </section>
    </main>
@Html.Partial("Partial/FooterViewPartial")

    