
@{
    ViewBag.Title = "HeaderViewPartial";
}


<div class="container">
    <div class="left">
        <img class="logo" src="" alt="">
    </div>
    <div class="user-info">
        <button>Login</button>
        <button>Shopping Cart</button>
    </div>
</div>

