
@{
    ViewBag.Title = "HeaderViewPartial";
}


<div class="container">
    <div class="left">
        <!--<img class="logo" src="@Html.Raw(File.ReadAllText(Server.MapPath("~/Images/LOGO.svg")))" alt="">-->
        <object data="~/Images/LOGO.svg" height="160" width="160" type="image/svg+xml" class="logo"></object>
    </div>
    <div class="user-info">
        <button>Login</button>
        <button>Shopping Cart</button>
    </div>
</div>

